.main-cont{
  overflow: scroll;
}


.space{
  padding-left: 220px;
}


 td {
border: 1px solid black;
   padding: 4px;
   background-color: #e0e0e0;

}

 th{
   background-color: #388c6c;
   border: 1px solid black;
   padding: 4px;
   color: white;
 }

 table{
   font-family: sans-serif;
   border: 1px solid black;
  border-collapse: collapse;

 }


h3{
  font-family: sans-serif;
  font-size: 16px;
}


.icon{
  background-color: #388c6c;
  border: none;
  border-radius: 5px;

}
